# [Gruppierungen] Lösung Aufgabe Daten aggregieren und gruppieren

In [1]:
import pandas as pd
import seaborn as sb

### Datengrundlage

In [2]:
penguins = sb.load_dataset("penguins")

In [3]:
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

- Bill = Schnabel
- Flipper = Flügel
- Body = Körper

- species (Gattung)	
- island (Insel)
- bill_length_mm (Schnabellänge)
- bill_depth_mm	(Schnabeltiefe)
- flipper_length_mm	(Schnabellänge)
- body_mass_g (Körpermasse)	
- sex (Geschlecht)

## 1) Aggregationen

### 1.1) Describe()-Funktion

*Verwende die describe()-Funktion zur Einschätzung der Lageverteilung aller numerischen Variablen*

In [5]:
penguins.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
bill_length_mm,342.0,43.921930,5.459584,32.1,39.225,44.45,48.5,59.6
bill_depth_mm,342.0,17.151170,1.974793,13.1,15.600,17.30,18.7,21.5
flipper_length_mm,342.0,200.915205,14.061714,172.0,190.000,197.00,213.0,231.0
body_mass_g,342.0,4201.754386,801.954536,2700.0,3550.000,4050.00,4750.0,6300.0

In [7]:
penguins.dtypes

species               object
island                object
bill_length_mm       float64
bill_depth_mm        float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
dtype: object

In [9]:
print(len(penguins.columns))

7

In [10]:
penguins.iloc[:, 2:len(penguins.columns)-1].describe().transpose()

,count,mean,std,min,25%,50%,75%,max
bill_length_mm,342.0,43.921930,5.459584,32.1,39.225,44.45,48.5,59.6
bill_depth_mm,342.0,17.151170,1.974793,13.1,15.600,17.30,18.7,21.5
flipper_length_mm,342.0,200.915205,14.061714,172.0,190.000,197.00,213.0,231.0
body_mass_g,342.0,4201.754386,801.954536,2700.0,3550.000,4050.00,4750.0,6300.0

### 1.2) Funktionen zur Berechnung

*Berechne die nachfolgenden Aggregationsfunktionen für die Körpermasse*

- Summe 
- Anzahl
- Minimum
- Maximum
- Mittelwert
- Median
- 0.25- und 0.75-Quantil
- 0.15- und 0.85-Perzentil
- Standardabweichung
- Varianz
- mad (mittlere absolute Abweichung)

*Hinweis: Verwende die print()-Funktion, um die Bezeichnung der jeweiligen Kennzahl als String zusätzlich auszugeben*

In [17]:
print("Summe:", penguins.body_mass_g.sum())
print("Anzahl:", penguins.body_mass_g.count())
print("Minimum:", penguins.body_mass_g.min())
print("Maximum:", penguins.body_mass_g.max())
print("Mittelwert:", penguins.body_mass_g.mean())
print("Median:", penguins.body_mass_g.median())
print("Quantile:", penguins.body_mass_g.quantile(q=[0.25, 0.75]))
print("Perzentile:", penguins.body_mass_g.quantile(q=[0.15, 0.85]))
print("Standardabweichung:", penguins.body_mass_g.std())
print("Varianz:", penguins.body_mass_g.var())

Summe: 1437000.0
Anzahl: 342
Minimum: 2700.0
Maximum: 6300.0
Mittelwert: 4201.754385964912
Median: 4050.0
Quantile: 0.25    3550.0
0.75    4750.0
Name: body_mass_g, dtype: float64
Perzentile: 0.15    3400.0
0.85    5200.0
Name: body_mass_g, dtype: float64
Standardabweichung: 801.9545356980954
Varianz: 643131.0773267477

### 1.3) agg- und aggregate-Funktion

*Verwende nun die agg- und aggregate-Funktion zur Berechnung der Kennzahlen*

In [18]:
penguins.body_mass_g.agg(["sum", "count", "min", "max", "mean", "median", "quantile", "std", "var"])

sum         1.437000e+06
count       3.420000e+02
min         2.700000e+03
max         6.300000e+03
mean        4.201754e+03
median      4.050000e+03
quantile    4.050000e+03
std         8.019545e+02
var         6.431311e+05
Name: body_mass_g, dtype: float64

## 2) Gruppierungen

### 2.1) GroupBy

*Erstelle eine Gruppierung, um die durchschnittlichen Mittelwerte der Pinguin-Gattungen zu zeigen. Verwende zusätzlich die transpose()-Funktion*

Variable: flipper_length

In [19]:
penguins.groupby(by="species")[["flipper_length_mm"]].mean().transpose()

species                Adelie   Chinstrap      Gentoo
flipper_length_mm  189.953642  195.823529  217.186992

In [20]:
penguins.groupby(by="species")[["flipper_length_mm"]].aggregate("mean").transpose()

species                Adelie   Chinstrap      Gentoo
flipper_length_mm  189.953642  195.823529  217.186992

In [21]:
penguins.groupby(by="species")[["flipper_length_mm"]].agg("mean").transpose()

species                Adelie   Chinstrap      Gentoo
flipper_length_mm  189.953642  195.823529  217.186992

### 2.2) Filterungen und Gruppierungen

*Welche Inseln gibt es?*

In [23]:
penguins.island.unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

*Filtere nun die Datenbasis ausschließlich auf "Biscoe". Gruppiere die Biscoe-Datenbasis nun nach dem arithmetischen Mittel von bill_depth_mm und flipper_length_mm*

In [24]:
biscoe = penguins[penguins.island == "Biscoe"]

In [25]:
biscoe.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
20,Adelie,Biscoe,37.8,18.3,174.0,3400.0,Female
21,Adelie,Biscoe,37.7,18.7,180.0,3600.0,Male
22,Adelie,Biscoe,35.9,19.2,189.0,3800.0,Female
23,Adelie,Biscoe,38.2,18.1,185.0,3950.0,Male
24,Adelie,Biscoe,38.8,17.2,180.0,3800.0,Male

In [26]:
biscoe.groupby(by="species").agg({"bill_depth_mm":"mean", "flipper_length_mm":"mean"})

         bill_depth_mm  flipper_length_mm
species
Adelie       18.370455         188.795455
Gentoo       14.982114         217.186992

## 3) Apply und Lambda

### 3.1) Funktionen und Apply

*Erstelle eine Funktion, welche die Körpermasse in gramm unwandelt in kilogramm*

In [27]:
def conversion(x):
    return x / 1000

In [28]:
penguins.groupby(by="species")[["body_mass_g"]].apply(conversion)

             body_mass_g
species
Adelie  0           3.75
        1           3.80
        2           3.25
        3            NaN
        4           3.45
...                  ...
Gentoo  339          NaN
        340         4.85
        341         5.75
        342         5.20
        343         5.40

[344 rows x 1 columns]

### 3.2) Lambda und Apply

*Verwende nun einen Lambda-Ausdruck für die Funktion aus Aufgabe 3.1)*

In [30]:
conversion2 = lambda x: x / 1000

In [31]:
penguins.groupby(by="species")[["body_mass_g"]].apply(conversion2)

             body_mass_g
species
Adelie  0           3.75
        1           3.80
        2           3.25
        3            NaN
        4           3.45
...                  ...
Gentoo  339          NaN
        340         4.85
        341         5.75
        342         5.20
        343         5.40

[344 rows x 1 columns]