# [Pandas Visualisierungen] Weitere Visualisierungstypen

In [1]:
import pandas as pd
import seaborn as sb

In [2]:
sb.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

### glue-Datensatz

**General Language Understanding Evaluation**

- Natural Language Understanding

- Plattform zur Bewertung und Analyse von NLP- und NLU-Modellen

In [3]:
glue = sb.load_dataset("glue")
glue

          Model  Year      Encoder  Task  Score
0         ERNIE  2019  Transformer  CoLA   75.5
1            T5  2019  Transformer  CoLA   71.6
2       RoBERTa  2019  Transformer  CoLA   67.8
3          BERT  2018  Transformer  CoLA   60.5
4   BiLSTM+ELMo  2018         LSTM  CoLA   32.1
..          ...   ...          ...   ...    ...
59         BERT  2018  Transformer   RTE   70.1
60  BiLSTM+ELMo  2018         LSTM   RTE   57.4
61  BiLSTM+CoVe  2017         LSTM   RTE   52.7
62  BiLSTM+Attn  2017         LSTM   RTE   58.4
63       BiLSTM  2017         LSTM   RTE   57.4

[64 rows x 5 columns]

### Sprachverständnisaufgaben

In [17]:
glue.Task.unique()

array(['CoLA', 'SST-2', 'MRPC', 'STS-B', 'QQP', 'MNLI', 'QNLI', 'RTE'],
      dtype=object)

1. CoLA (Corpus of Linguistic Acceptability)
2. MRPC (Microsoft Research Paraphrase Corpus)
3. SST-2 (Stanford Sentiment Treebank)
4. QQP (Quora Question Pairs)
5. STS-B (Semantic Textual Similarity Benchmark)
6. MNLI (Multi-Genre Natural Language Inference)
7. QNLI (Question NLI)
8. WNLI (Winograd NLI)
9. RTE (Recognizing Textual Entailment)

## 1. Linien- und Flächendiagramm

*Visualisiere den Score in einem Linien- und Flächendiagramm. Füge Diagrammbeschriftung und Achsenbeschriftungen hinzu. Verwende die Farbe "orange"*

## 2. Balkendiagramme

*Veranschauliche den Score nun in einem Balkendiagramm sortiert nach den einzelnen Jahren. Verwende die Farbe "dunkelblau"*

## 3. Boxplot

*Verwende nun einen Boxplot jeweils für den Score und aufgeteilt nach:*

- Model

- Year

- Encoder

## 4. Histogramm

*Veranschauliche den Score auch in einem Histogramm und setze den bins-Parameter auf 25*

*Zeichne zwei weitere Histogramme unterteilt nach Model und Year*

## 5. Kuchendiagramm

*Verwende ein Kuchendiagramm, um den Score nach Models aufzugliedern*