# [Fortgeschrittene Funktionen] Duplikate entfernen

In [1]:
import pandas as pd

### Datengrundlage

In [2]:
stocks = pd.DataFrame({
    'firma': ['Coke', 'Pepsi', 'Monster', 'Nestle', 'Unilever', "Coke"],
    'branche': ['drinks', 'food-beverage', 'drinks', 'food-beverage', 'consumer goods', "drinks"],
    'kgv': [29, 28, 45, 31, 16, 29]
})

In [3]:
stocks

      firma         branche  kgv
0      Coke          drinks   29
1     Pepsi   food-beverage   28
2   Monster          drinks   45
3    Nestle   food-beverage   31
4  Unilever  consumer goods   16
5      Coke          drinks   29

## Duplikate verwalten

In [5]:
stocks.duplicated()

0    False
1    False
2    False
3    False
4    False
5     True
dtype: bool

In [6]:
stocks.drop_duplicates()

      firma         branche  kgv
0      Coke          drinks   29
1     Pepsi   food-beverage   28
2   Monster          drinks   45
3    Nestle   food-beverage   31
4  Unilever  consumer goods   16

In [8]:
stocks

      firma         branche  kgv
0      Coke          drinks   29
1     Pepsi   food-beverage   28
2   Monster          drinks   45
3    Nestle   food-beverage   31
4  Unilever  consumer goods   16
5      Coke          drinks   29

In [7]:
stocks.drop_duplicates(subset=["branche"])

      firma         branche  kgv
0      Coke          drinks   29
1     Pepsi   food-beverage   28
4  Unilever  consumer goods   16

In [9]:
stocks.drop_duplicates(subset=["branche"], keep="first")

      firma         branche  kgv
0      Coke          drinks   29
1     Pepsi   food-beverage   28
4  Unilever  consumer goods   16

In [10]:
stocks.drop_duplicates(subset=["branche"], keep="last")

      firma         branche  kgv
3    Nestle   food-beverage   31
4  Unilever  consumer goods   16
5      Coke          drinks   29