# [Filterungen] Aufgabe Sortierungen und Filterungen

In [1]:
import pandas as pd
import seaborn as sb

### Datengrundlage: healthexp

In [2]:
healthexp = sb.load_dataset("healthexp")

In [3]:
healthexp.head()

   Year        Country  Spending_USD  Life_Expectancy
0  1970        Germany       252.311             70.6
1  1970         France       192.143             72.2
2  1970  Great Britain       123.993             71.9
3  1970          Japan       150.437             72.0
4  1970            USA       326.961             70.9

In [4]:
healthexp.tail()

     Year        Country  Spending_USD  Life_Expectancy
269  2020        Germany      6938.983             81.1
270  2020         France      5468.418             82.3
271  2020  Great Britain      5018.700             80.4
272  2020          Japan      4665.641             84.7
273  2020            USA     11859.179             77.0

## 1) Sortierung

### 1.1) Auf- und absteigende Sortierung

*Sortiere zunächst die Lebenserwartung auf- und absteigend*

### 1.2) Kategorische Sortierung

*Sortiere nun zunächst nach der Kategorie Land und dann nach Jahr durch eine Codezeile*

## 2) Ranking

*Berechne nun die Ränge aufsteigend von "Spending_USD". Sortiere anschließend die Ergebnisse absteigend*

## 3) Filter-Funktion

### 3.1) Kategorische Filterungen

*Filtere zunächst nach den Jahren 2000-2015*

#### Möglichkeit 1

#### Möglichkeit 2

#### Möglichkeit 3

### 3.2) Filterung durch Berechnung

*Berechne nun die durchschnittliche Lebenserwartung über den Median in diesem Zeitintervall. Filtere nun alle Daten, bei denen die Lebenserwartung über dem Median liegt*

## 4) query-Funktion

*Betrachte nun ausschließlich die Jahre 2016 bis 2020. Berechne anschließend die neue Spalte "Spending_USD_new", welche die Variable "Spending_USD" durch die Zahl 60 dividiert. Verwende nun die query()-Funktion, um zu zählen bei wie vielen Einträgen Spending_USD_new größer ist als Life_Expectancy*