# [Filterungen] Umgang mit NULL-Werten

In [1]:
import pandas as pd
import numpy as np

In [16]:
# Sitz, Umsatz, Ergebnis, Mitarbeiter