# [Aggregationen] Aggregationsfunktionen mit Pandas

In [3]:
import pandas as pd
umsatz = pd.read_csv("datengrundlage.xls")

### Describe()-Funktion

In [4]:
umsatz.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Nr,1380.0,690.500000,398.515997,1.00,345.7500,690.50,1035.25,1380.00
Jahr,1380.0,2026.413043,1.088727,2025.00,2025.0000,2026.00,2027.00,2028.00
Umsatz,1380.0,6473.974348,1767.118045,2055.45,5171.6625,6341.10,7669.05,13112.40
Kosten,1380.0,5233.811500,1502.025770,1644.36,4136.9400,5115.06,6202.38,12141.68
Rücksendung,181.0,1.000000,0.000000,1.00,1.0000,1.00,1.00,1.00

### Aggregationsfunktionen

- Summe 
- Anzahl
- Minimum
- Maximum
- Mittelwert
- Median
- Quantile
- Perzentile
- Standardabweichung
- Varianz
- mad (mittlere absolute Abweichung)

#### Summe

In [5]:
sum?

Signature: sum(iterable, /, start=0)
Docstring:
Return the sum of a 'start' value (default: 0) plus an iterable of numbers

When the iterable is empty, return the start value.
This function is intended specifically for use with numeric values and may
reject non-numeric types.
Type:      builtin_function_or_method

In [6]:
sum(umsatz.Umsatz)

8934084.600000005

In [7]:
umsatz.Umsatz.sum()

8934084.6

### Anzahl

In [8]:
umsatz.Umsatz.count()

1380

#### Minimum

In [9]:
umsatz.Umsatz.min()

2055.45

#### Maximum

In [10]:
umsatz.Umsatz.max()

13112.4

#### Mittelwert

In [11]:
umsatz.Umsatz.mean()

6473.974347826087

#### Median

In [12]:
umsatz.Umsatz.median()

6341.1

#### Quantile

In [13]:
umsatz.Umsatz.quantile(q=[0.25, 0.75])

0.25    5171.6625
0.75    7669.0500
Name: Umsatz, dtype: float64

#### Perzentile

In [14]:
umsatz.Umsatz.quantile(q=[0.1, 0.9])

0.1    4302.825
0.9    8845.710
Name: Umsatz, dtype: float64

#### Standardabweichung

In [15]:
umsatz.Umsatz.std()

1767.1180446246585

#### Varianz

In [16]:
umsatz.Umsatz.var()

3122706.1836380763

### agg()-/aggregate-Funktion

In [21]:
umsatz.Umsatz.agg(["sum", "min", "max", "mean", "median", "quantile", "std", "var"])

sum         8.934085e+06
min         2.055450e+03
max         1.311240e+04
mean        6.473974e+03
median      6.341100e+03
quantile    6.341100e+03
std         1.767118e+03
var         3.122706e+06
Name: Umsatz, dtype: float64

In [22]:
umsatz.Umsatz.aggregate(["sum", "min", "max", "mean", "median", "quantile", "std", "var"])

sum         8.934085e+06
min         2.055450e+03
max         1.311240e+04
mean        6.473974e+03
median      6.341100e+03
quantile    6.341100e+03
std         1.767118e+03
var         3.122706e+06
Name: Umsatz, dtype: float64

In [23]:
umsatz.agg({"Umsatz":"mean"})

Umsatz    6473.974348
dtype: float64