# [Gruppierungen] Lösung Aufgabe Daten aggregieren und gruppieren

In [1]:
import pandas as pd
import seaborn as sb

### Datengrundlage

In [2]:
penguins = sb.load_dataset("penguins")

In [3]:
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

- Bill = Schnabel
- Flipper = Flügel
- Body = Körper

- species (Gattung)	
- island (Insel)
- bill_length_mm (Schnabellänge)
- bill_depth_mm	(Schnabeltiefe)
- flipper_length_mm	(Schnabellänge)
- body_mass_g (Körpermasse)	
- sex (Geschlecht)

## 1) Aggregationen

### 1.1) Describe()-Funktion

*Verwende die describe()-Funktion zur Einschätzung der Lageverteilung aller numerischen Variablen*

### 1.2) Funktionen zur Berechnung

*Berechne die nachfolgenden Aggregationsfunktionen für die Körpermasse*

- Summe 
- Anzahl
- Minimum
- Maximum
- Mittelwert
- Median
- 0.25- und 0.75-Quantil
- 0.15- und 0.85-Perzentil
- Standardabweichung
- Varianz
- mad (mittlere absolute Abweichung)

*Hinweis: Verwende die print()-Funktion, um die Bezeichnung der jeweiligen Kennzahl als String zusätzlich auszugeben*

### 1.3) agg- und aggregate-Funktion

*Verwende nun die agg- und aggregate-Funktion zur Berechnung der Kennzahlen*

## 2) Gruppierungen

### 2.1) GroupBy

*Erstelle eine Gruppierung, um die durchschnittlichen Mittelwerte der Pinguin-Gattungen zu zeigen. Verwende zusätzlich die transpose()-Funktion*

### 2.2) Filterungen und Gruppierungen

*Welche Inseln gibt es?*

*Filtere nun die Datenbasis ausschließlich auf "Biscoe". Gruppiere die Biscoe-Datenbasis nun nach dem arithmetischen Mittel von bill_depth_mm und flipper_length_mm*

## 3) Apply und Lambda

### 3.1) Funktionen und Apply

*Erstelle eine Funktion, welche die Körpermasse in gramm unwandelt in kilogramm*

### 3.2) Lambda und Apply

*Verwende nun einen Lambda-Ausdruck für die Funktion aus Aufgabe 3.1)*