# [Datenverarbeitung] DataFrames exportieren

In [1]:
import pandas as pd

In [2]:
umsatz = pd.read_csv("datengrundlage.csv")

In [3]:
umsatz.head()

,Nr,Datum,Jahr,Land,Stadt,Umsatz,Kosten,Rücksendung,Bereich,Produktgruppe,Logistik-Code,Kunde
0,1,1/1/2025,2025,Südkorea,Seoul,5534.55,4427.64,NaN,Bereich-5,prd-3,6-43647-1,C-85
1,2,1/2/2025,2025,Südkorea,Seoul,6284.70,7164.56,NaN,Bereich-5,prd-1,2-43647-1,C-107
2,3,1/3/2025,2025,Vereinigtes Königreich,London,5437.65,6198.92,NaN,Bereich-1,prd-56,7-43647-1,C-141
3,4,1/4/2025,2025,China,Peking,8587.20,5152.32,NaN,Bereich-2,prd-92,4-43647-1,C-124
4,5,1/5/2025,2025,USA,Los Angeles,9439.05,10382.95,NaN,Bereich-2,prd-85,1-43647-1,C-76

In [8]:
umsatz_stadt_land = umsatz[["Land", "Stadt", "Umsatz"]]

In [10]:
# umsatz_stadt_land

### CSV exportieren

In [6]:
# pd.DataFrame.to_csv?

In [11]:
umsatz_stadt_land.to_csv("umsatz_stadt_land.csv")

### Excel exportieren

In [ ]:
# pd.DataFrame.to_excel?

In [12]:
umsatz_stadt_land.to_excel("umsatz_stadt_land.xlsx")

### auf Laufwerk exportieren

In [13]:
umsatz_stadt_land.to_excel(r"C:\Users\Fabio\OneDrive\Desktop\umsatz_stadt_land.xlsx")