# [Datenverarbeitung] Einträge überprüfen

In [5]:
import pandas as pd

In [9]:
# Branche, Umsatz, Marktkapitalisierung, Ergebnis
tech = pd.DataFrame({'AAPL': ["Hardware", 395, 2390, 100], 
                   'GOOG': ["Advertisement", 280, 1240, 60], 
                  'AMZ' : ["E-Commerce/Cloud", 514, 960, 14]}, 
                   index = ["branche", "umsatz", "börsenwert", "ergebnis"])

In [10]:
tech

                AAPL           GOOG               AMZ
branche     Hardware  Advertisement  E-Commerce/Cloud
umsatz           395            280               514
börsenwert      2390           1240               960
ergebnis         100             60                14

### Gibt es `ein` Hardware-Unternehmen?

In [12]:
# pd.DataFrame.isin?

In [13]:
tech.isin(["Hardware"])

             AAPL   GOOG    AMZ
branche      True  False  False
umsatz      False  False  False
börsenwert  False  False  False
ergebnis    False  False  False

### Gibt es `kein` Hardware-Unternehmen?

In [14]:
~ tech.isin(["Hardware"])

             AAPL  GOOG   AMZ
branche     False  True  True
umsatz       True  True  True
börsenwert   True  True  True
ergebnis     True  True  True

### Umsatzdatensatz

In [15]:
umsatz = pd.read_csv("datengrundlage.csv")

In [16]:
umsatz.head(3)

,Nr,Datum,Jahr,Land,Stadt,Umsatz,Kosten,Rücksendung,Bereich,Produktgruppe,Logistik-Code,Kunde
0,1,1/1/2025,2025,Südkorea,Seoul,5534.55,4427.64,NaN,Bereich-5,prd-3,6-43647-1,C-85
1,2,1/2/2025,2025,Südkorea,Seoul,6284.70,7164.56,NaN,Bereich-5,prd-1,2-43647-1,C-107
2,3,1/3/2025,2025,Vereinigtes Königreich,London,5437.65,6198.92,NaN,Bereich-1,prd-56,7-43647-1,C-141

In [18]:
umsatz.Land.isin(["China"])

0       False
1       False
2       False
3        True
4       False
        ...
1375    False
1376    False
1377    False
1378    False
1379    False
Name: Land, Length: 1380, dtype: bool

In [20]:
umsatz.Land.isin(["China", "USA", "Südafrika"])

0       False
1       False
2       False
3        True
4        True
        ...
1375    False
1376    False
1377    False
1378    False
1379     True
Name: Land, Length: 1380, dtype: bool