# [Merges & Joins] append()-Funktion

In [1]:
import pandas as pd

In [2]:
# pd.concat?

## Series verkn√ºpfen

In [3]:
series1 = pd.Series(['merkur', 'neptun', 'mars'])
series2 = pd.Series(['venus', 'uranus', 'pluto'])

In [4]:
pd.concat([series1, series2])

0    merkur
1    neptun
2      mars
0     venus
1    uranus
2     pluto
dtype: object

In [5]:
pd.concat([series1, series2], keys=['series1', 'series2'])

series1  0    merkur
         1    neptun
         2      mars
series2  0     venus
         1    uranus
         2     pluto
dtype: object

In [6]:
pd.concat([series1, series2], 
          keys=['series1', 'series2'], 
          names = ["Gruppe 1", "Gruppe 2"])

Gruppe 1  Gruppe 2
series1   0           merkur
          1           neptun
          2             mars
series2   0            venus
          1           uranus
          2            pluto
dtype: object

## Append-Funktion

In [11]:
planeten1 = pd.DataFrame([['merkur', 222], ['neptun', 4687], ['mars', 401]],
                   columns=['Planet', 'Entfernung zur Erde in Mio. km'])

planeten2 = pd.DataFrame([['venus', 261], ['uranus', 3157], ['pluto', 7528]],
                   columns=['Planet', 'Entfernung zur Erde in Mio. km'])

In [13]:
pd.DataFrame.append?

Object `pd.DataFrame.append` not found.

In [12]:
planeten1.append(planeten2)

AttributeError: 'DataFrame' object has no attribute 'append'

In [6]:
print(series1.append(series2))

0    merkur
1    neptun
2      mars
0     venus
1    uranus
2     pluto
dtype: object

C:\Users\Fabio\AppData\Local\Temp\ipykernel_3412\3413698158.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print(series1.append(series2))