# [Fortgeschrittene Funktionen] Fortgeschrittene Analysen

In [1]:
import pandas as pd
umsatz = pd.read_csv("datengrundlage.xls")

In [2]:
umsatz.head(3)

,Nr,Datum,Jahr,Land,Stadt,Umsatz,Kosten,Rücksendung,Bereich,Produktgruppe,Logistik-Code,Kunde
0,1,1/1/2025,2025,Südkorea,Seoul,5534.55,4427.64,NaN,Bereich-5,prd-3,6-43647-1,C-85
1,2,1/2/2025,2025,Südkorea,Seoul,6284.70,7164.56,NaN,Bereich-5,prd-1,2-43647-1,C-107
2,3,1/3/2025,2025,Vereinigtes Königreich,London,5437.65,6198.92,NaN,Bereich-1,prd-56,7-43647-1,C-141

### dtypes

In [3]:
umsatz.dtypes

Nr                 int64
Datum             object
Jahr               int64
Land              object
Stadt             object
Umsatz           float64
Kosten           float64
Rücksendung      float64
Bereich           object
Produktgruppe     object
Logistik-Code     object
Kunde             object
dtype: object

### to_datetime

In [6]:
umsatz.Datum = pd.to_datetime(umsatz.Datum)

In [7]:
umsatz.dtypes

Nr                        int64
Datum            datetime64[ns]
Jahr                      int64
Land                     object
Stadt                    object
Umsatz                  float64
Kosten                  float64
Rücksendung             float64
Bereich                  object
Produktgruppe            object
Logistik-Code            object
Kunde                    object
dtype: object

### memory_usage

In [8]:
umsatz.memory_usage(deep=True)

Index               128
Nr                11040
Datum             11040
Jahr              11040
Land             102689
Stadt             91004
Umsatz            11040
Kosten            11040
Rücksendung       11040
Bereich           91080
Produktgruppe     86813
Logistik-Code     91288
Kunde             84821
dtype: int64

### value_counts

In [12]:
print(umsatz.Land.unique())
print(umsatz.Stadt.unique())

['Südkorea' 'Vereinigtes Königreich' 'China' 'USA' 'Deutschland' 'Mexiko']
['Seoul' 'London' 'Peking' 'Los Angeles' 'Berlin' 'Oaxaca' 'Busan'
 'Las Vegas' 'Shanghai' 'Seattle' 'München' 'Incheon' 'Chongqing' 'Miami'
 'Shenzhen' 'Daegu' 'Houston' 'Puebla' 'Guangzhou' 'Hannover' 'Daejeon'
 'Portland' 'Manchester' 'Wuhan' 'Detroit' 'Veracruz' 'Gwangju' 'Ulsan'
 'Dongguan' 'Denver' 'Gangneung' 'Tianjin' 'Seogwipo' 'Dortmund'
 'Monterrey' 'Richmond' 'Bristol' 'Gunpo' 'Chuncheon' 'Ciudad Juárez'
 'Nanjing' 'San José' 'Liverpool' 'Suncheon' 'Karlsruhe' 'Asan' 'Honolulu'
 'Cancún' 'Pyeongtaek' 'Leeds' 'Orlando' 'Freiburg' 'Mokpo' 'Jackson'
 'Gimpo' 'Guanajuato' 'Jinan' 'Osan' 'Leipzig' 'Baton Rouge' 'Paju'
 'San Luis Potosi' 'Naju' 'Bremen' 'Birmingham' 'Fort Worth' 'Gimhae'
 'Luoyang' 'Hartford' 'Durango' 'Salem' 'Hamburg' 'Bucheon' 'Montgomery'
 'Nürnberg' 'Shenyang' 'Anyang' 'Topeka' 'Acapulco' 'Miryang' 'Phoenix'
 'Stuttgart' 'Quingdao' 'Torreón' 'Silheung' 'Leicester' 'Sacramento'
 'Yangsan-si']

In [14]:
print(umsatz.Land.value_counts())
print(umsatz.Stadt.value_counts())

Land
Südkorea                  421
USA                       308
Deutschland               207
China                     188
Mexiko                    134
Vereinigtes Königreich    122
Name: count, dtype: int64
Stadt
Nanjing       33
San José      31
Jinan         31
Hannover      29
Birmingham    28
              ..
Shenzhen       7
Dongguan       7
Guangzhou      7
Miami          7
Peking         6
Name: count, Length: 88, dtype: int64

### describe und transpose

In [17]:
umsatz.describe(percentiles=[0.1, 0.9]).transpose()

,count,mean,min,10%,50%,90%,max,std
Nr,1380.0,690.5,1.0,138.9,690.5,1242.1,1380.0,398.515997
Datum,1380,2026-11-21 12:00:00,2025-01-01 00:00:00,2025-05-18 21:36:00,2026-11-21 12:00:00,2028-05-26 02:24:00,2028-10-11 00:00:00,NaN
Jahr,1380.0,2026.413043,2025.0,2025.0,2026.0,2028.0,2028.0,1.088727
Umsatz,1380.0,6473.974348,2055.45,4302.825,6341.1,8845.71,13112.4,1767.118045
Kosten,1380.0,5233.8115,1644.36,3400.14,5115.06,7213.584,12141.68,1502.02577
Rücksendung,181.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0

In [18]:
umsatz.describe(percentiles=[0.1, 0.9]).T

,count,mean,min,10%,50%,90%,max,std
Nr,1380.0,690.5,1.0,138.9,690.5,1242.1,1380.0,398.515997
Datum,1380,2026-11-21 12:00:00,2025-01-01 00:00:00,2025-05-18 21:36:00,2026-11-21 12:00:00,2028-05-26 02:24:00,2028-10-11 00:00:00,NaN
Jahr,1380.0,2026.413043,2025.0,2025.0,2026.0,2028.0,2028.0,1.088727
Umsatz,1380.0,6473.974348,2055.45,4302.825,6341.1,8845.71,13112.4,1767.118045
Kosten,1380.0,5233.8115,1644.36,3400.14,5115.06,7213.584,12141.68,1502.02577
Rücksendung,181.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0

### convert_dtypes

In [19]:
print(umsatz.dtypes)

Nr                        int64
Datum            datetime64[ns]
Jahr                      int64
Land                     object
Stadt                    object
Umsatz                  float64
Kosten                  float64
Rücksendung             float64
Bereich                  object
Produktgruppe            object
Logistik-Code            object
Kunde                    object
dtype: object

In [21]:
umsatz.convert_dtypes().dtypes

Nr                        Int64
Datum            datetime64[ns]
Jahr                      Int64
Land             string[python]
Stadt            string[python]
Umsatz                  Float64
Kosten                  Float64
Rücksendung               Int64
Bereich          string[python]
Produktgruppe    string[python]
Logistik-Code    string[python]
Kunde            string[python]
dtype: object