# [Fortgeschrittene Funktionen] String-Funktionen

> - len

> - cat

> - upper()

> - lower()

> - isupper()

> - contains()

> - replace()

> - split()

> - find()

> - findall()

> - startswith()

> - endswith()

In [11]:
# type("Pandas")
# type('Pandas')

In [48]:
import pandas as pd

In [49]:
umsatz = pd.read_csv("datengrundlage.xls")

In [14]:
umsatz.head(3)

,Nr,Datum,Jahr,Land,Stadt,Umsatz,Kosten,Rücksendung,Bereich,Produktgruppe,Logistik-Code,Kunde
0,1,1/1/2025,2025,Südkorea,Seoul,5534.55,4427.64,NaN,Bereich-5,prd-3,6-43647-1,C-85
1,2,1/2/2025,2025,Südkorea,Seoul,6284.70,7164.56,NaN,Bereich-5,prd-1,2-43647-1,C-107
2,3,1/3/2025,2025,Vereinigtes Königreich,London,5437.65,6198.92,NaN,Bereich-1,prd-56,7-43647-1,C-141

### len

In [15]:
len(umsatz.Land)

1380

In [17]:
len(umsatz.columns)

12

In [19]:
umsatz.Land

0                     Südkorea
1                     Südkorea
2       Vereinigtes Königreich
3                        China
4                          USA
                 ...
1375                  Südkorea
1376                  Südkorea
1377               Deutschland
1378                    Mexiko
1379                       USA
Name: Land, Length: 1380, dtype: object

In [18]:
umsatz.Land.str.len()

0        8
1        8
2       22
3        5
4        3
        ..
1375     8
1376     8
1377    11
1378     6
1379     3
Name: Land, Length: 1380, dtype: int64

### cat

In [21]:
type(umsatz.Land.str.cat())

str

In [22]:
# umsatz.Land.str.cat()

### lower

In [24]:
umsatz.Land

0                     Südkorea
1                     Südkorea
2       Vereinigtes Königreich
3                        China
4                          USA
                 ...
1375                  Südkorea
1376                  Südkorea
1377               Deutschland
1378                    Mexiko
1379                       USA
Name: Land, Length: 1380, dtype: object

In [23]:
umsatz.Land.str.lower()

0                     südkorea
1                     südkorea
2       vereinigtes königreich
3                        china
4                          usa
                 ...
1375                  südkorea
1376                  südkorea
1377               deutschland
1378                    mexiko
1379                       usa
Name: Land, Length: 1380, dtype: object

In [32]:
lower = umsatz.Land.str.lower()

### upper

In [28]:
upper = umsatz.Land.str.upper()

### isupper

In [26]:
umsatz.Stadt.str.isupper()

0       False
1       False
2       False
3       False
4       False
        ...
1375    False
1376    False
1377    False
1378    False
1379    False
Name: Stadt, Length: 1380, dtype: bool

In [31]:
upper.str.isupper()

0       True
1       True
2       True
3       True
4       True
        ...
1375    True
1376    True
1377    True
1378    True
1379    True
Name: Land, Length: 1380, dtype: bool

In [33]:
lower.str.isupper()

0       False
1       False
2       False
3       False
4       False
        ...
1375    False
1376    False
1377    False
1378    False
1379    False
Name: Land, Length: 1380, dtype: bool

### islower

In [27]:
umsatz.Stadt.str.islower()

0       False
1       False
2       False
3       False
4       False
        ...
1375    False
1376    False
1377    False
1378    False
1379    False
Name: Stadt, Length: 1380, dtype: bool

In [35]:
upper.str.islower()

0       False
1       False
2       False
3       False
4       False
        ...
1375    False
1376    False
1377    False
1378    False
1379    False
Name: Land, Length: 1380, dtype: bool

In [34]:
lower.str.islower()

0       True
1       True
2       True
3       True
4       True
        ...
1375    True
1376    True
1377    True
1378    True
1379    True
Name: Land, Length: 1380, dtype: bool

### contains

In [39]:
# umsatz["Logistik-Code"]

In [40]:
umsatz[umsatz["Logistik-Code"].str.contains("6-")]

,Nr,Datum,Jahr,Land,Stadt,Umsatz,Kosten,Rücksendung,Bereich,Produktgruppe,Logistik-Code,Kunde
0,1,1/1/2025,2025,Südkorea,Seoul,5534.55,4427.64,NaN,Bereich-5,prd-3,6-43647-1,C-85
24,25,1/25/2025,2025,Südkorea,Seoul,6381.75,7019.93,NaN,Bereich-2,prd-83,6-43648-1,C-85
33,34,2/3/2025,2025,Südkorea,Seoul,4778.10,2866.86,1.0,Bereich-5,prd-19,6-43649-1,C-85
39,40,2/9/2025,2025,Südkorea,Seoul,4943.55,3954.84,NaN,Bereich-2,prd-91,6-43650-1,C-85
55,56,2/25/2025,2025,Deutschland,Berlin,7496.55,8246.20,NaN,Bereich-1,prd-59,3-43656-1,C-65
...,...,...,...,...,...,...,...,...,...,...,...,...
1335,1336,8/28/2028,2028,Südkorea,Silheung,6159.30,4927.44,NaN,Bereich-3,prd-65,6-43662-1,C-85
1343,1344,9/5/2028,2028,USA,Sacramento,7279.20,5823.36,NaN,Bereich-3,prd-60,1-43676-1,C-76
1348,1349,9/10/2028,2028,USA,Sacramento,5570.85,4456.68,NaN,Bereich-2,prd-89,12-43676-1,C-53
1349,1350,9/11/2028,2028,Südkorea,Silheung,6458.85,5167.08,1.0,Bereich-2,prd-86,2-43656-1,C-107
1375,1376,10/7/2028,2028,Südkorea,Yangsan-si,6019.05,4815.24,NaN,Bereich-3,prd-77,6-43663-1,C-85

In [41]:
len(umsatz[umsatz["Logistik-Code"].str.contains("6-")])

185

In [42]:
umsatz

,Nr,Datum,Jahr,Land,Stadt,Umsatz,Kosten,Rücksendung,Bereich,Produktgruppe,Logistik-Code,Kunde
0,1,1/1/2025,2025,Südkorea,Seoul,5534.55,4427.64,NaN,Bereich-5,prd-3,6-43647-1,C-85
1,2,1/2/2025,2025,Südkorea,Seoul,6284.70,7164.56,NaN,Bereich-5,prd-1,2-43647-1,C-107
2,3,1/3/2025,2025,Vereinigtes Königreich,London,5437.65,6198.92,NaN,Bereich-1,prd-56,7-43647-1,C-141
3,4,1/4/2025,2025,China,Peking,8587.20,5152.32,NaN,Bereich-2,prd-92,4-43647-1,C-124
4,5,1/5/2025,2025,USA,Los Angeles,9439.05,10382.95,NaN,Bereich-2,prd-85,1-43647-1,C-76
...,...,...,...,...,...,...,...,...,...,...,...,...
1375,1376,10/7/2028,2028,Südkorea,Yangsan-si,6019.05,4815.24,NaN,Bereich-3,prd-77,6-43663-1,C-85
1376,1377,10/8/2028,2028,Südkorea,Yangsan-si,6482.40,5185.92,NaN,Bereich-2,prd-96,5-43655-1,C-65
1377,1378,10/9/2028,2028,Deutschland,Stuttgart,9192.15,7353.72,NaN,Bereich-1,prd-50,3-43673-1,C-65
1378,1379,10/10/2028,2028,Mexiko,Torreón,9808.95,7847.16,1.0,Bereich-3,prd-72,8-43659-1,C-109
1379,1380,10/11/2028,2028,USA,Sacramento,8303.55,6642.84,NaN,Bereich-2,prd-88,1-43654-2,C-76

In [43]:
print(185/1380)

0.13405797101449277

### replace

In [46]:
umsatz = umsatz.Land.str.replace("Deutschland", "DE")

In [47]:
umsatz

0                     Südkorea
1                     Südkorea
2       Vereinigtes Königreich
3                        China
4                          USA
                 ...
1375                  Südkorea
1376                  Südkorea
1377                        DE
1378                    Mexiko
1379                       USA
Name: Land, Length: 1380, dtype: object

### split

In [51]:
umsatz.Kunde.str.split("-")

0        [C, 85]
1       [C, 107]
2       [C, 141]
3       [C, 124]
4        [C, 76]
          ...
1375     [C, 85]
1376     [C, 65]
1377     [C, 65]
1378    [C, 109]
1379     [C, 76]
Name: Kunde, Length: 1380, dtype: object

### find

In [53]:
umsatz.Stadt

0             Seoul
1             Seoul
2            London
3            Peking
4       Los Angeles
           ...
1375     Yangsan-si
1376     Yangsan-si
1377      Stuttgart
1378        Torreón
1379     Sacramento
Name: Stadt, Length: 1380, dtype: object

In [52]:
umsatz.Stadt.str.find("a")

0      -1
1      -1
2      -1
3      -1
4      -1
       ..
1375    1
1376    1
1377    6
1378   -1
1379    1
Name: Stadt, Length: 1380, dtype: int64

### findall

In [55]:
umsatz.Kunde

0        C-85
1       C-107
2       C-141
3       C-124
4        C-76
        ...
1375     C-85
1376     C-65
1377     C-65
1378    C-109
1379     C-76
Name: Kunde, Length: 1380, dtype: object

In [54]:
umsatz.Kunde.str.findall("C-1")

0          []
1       [C-1]
2       [C-1]
3       [C-1]
4          []
        ...
1375       []
1376       []
1377       []
1378    [C-1]
1379       []
Name: Kunde, Length: 1380, dtype: object

In [56]:
umsatz.Kunde.str.findall("C-1*")

0        [C-]
1       [C-1]
2       [C-1]
3       [C-1]
4        [C-]
        ...
1375     [C-]
1376     [C-]
1377     [C-]
1378    [C-1]
1379     [C-]
Name: Kunde, Length: 1380, dtype: object

### startswith

In [57]:
umsatz.Kunde.str.startswith("C-1")

0       False
1        True
2        True
3        True
4       False
        ...
1375    False
1376    False
1377    False
1378     True
1379    False
Name: Kunde, Length: 1380, dtype: bool

In [58]:
umsatz[umsatz.Kunde.str.startswith("C-1")]

,Nr,Datum,Jahr,Land,Stadt,Umsatz,Kosten,Rücksendung,Bereich,Produktgruppe,Logistik-Code,Kunde
1,2,1/2/2025,2025,Südkorea,Seoul,6284.70,7164.56,NaN,Bereich-5,prd-1,2-43647-1,C-107
2,3,1/3/2025,2025,Vereinigtes Königreich,London,5437.65,6198.92,NaN,Bereich-1,prd-56,7-43647-1,C-141
3,4,1/4/2025,2025,China,Peking,8587.20,5152.32,NaN,Bereich-2,prd-92,4-43647-1,C-124
6,7,1/7/2025,2025,Südkorea,Seoul,6589.80,7248.78,NaN,Bereich-1,prd-59,2-43648-1,C-107
11,12,1/12/2025,2025,China,Peking,6857.40,4114.44,NaN,Bereich-1,prd-56,4-43648-1,C-124
...,...,...,...,...,...,...,...,...,...,...,...,...
1367,1368,9/29/2028,2028,China,Quingdao,4496.25,3597.00,NaN,Bereich-3,prd-68,4-43653-1,C-124
1369,1370,10/1/2028,2028,Südkorea,Yangsan-si,6586.05,5268.84,NaN,Bereich-3,prd-73,2-43663-1,C-107
1370,1371,10/2/2028,2028,Vereinigtes Königreich,Leicester,7890.45,6312.36,NaN,Bereich-3,prd-78,10-43662-1,C-115
1372,1373,10/4/2028,2028,Südkorea,Yangsan-si,8589.90,6871.92,1.0,Bereich-3,prd-61,2-43664-1,C-107
1378,1379,10/10/2028,2028,Mexiko,Torreón,9808.95,7847.16,1.0,Bereich-3,prd-72,8-43659-1,C-109

### endswith

In [60]:
umsatz.Kunde.str.endswith("4")

0       False
1       False
2       False
3        True
4       False
        ...
1375    False
1376    False
1377    False
1378    False
1379    False
Name: Kunde, Length: 1380, dtype: bool

In [61]:
umsatz[umsatz.Kunde.str.endswith("4")]

,Nr,Datum,Jahr,Land,Stadt,Umsatz,Kosten,Rücksendung,Bereich,Produktgruppe,Logistik-Code,Kunde
3,4,1/4/2025,2025,China,Peking,8587.20,5152.32,NaN,Bereich-2,prd-92,4-43647-1,C-124
11,12,1/12/2025,2025,China,Peking,6857.40,4114.44,NaN,Bereich-1,prd-56,4-43648-1,C-124
18,19,1/19/2025,2025,China,Peking,3970.95,3176.76,NaN,Bereich-4,prd-27,4-43649-1,C-124
30,31,1/31/2025,2025,China,Peking,4834.80,2900.88,NaN,Bereich-5,prd-3,4-43650-1,C-124
37,38,2/7/2025,2025,China,Peking,6168.90,3701.34,NaN,Bereich-4,prd-25,4-43651-1,C-124
...,...,...,...,...,...,...,...,...,...,...,...,...
1330,1331,8/23/2028,2028,China,Quingdao,6972.60,5578.08,NaN,Bereich-3,prd-62,4-43649-1,C-124
1332,1333,8/25/2028,2028,China,Quingdao,5892.00,4713.60,1.0,Bereich-2,prd-99,4-43650-1,C-124
1356,1357,9/18/2028,2028,China,Quingdao,5502.75,4402.20,NaN,Bereich-1,prd-51,4-43651-1,C-124
1360,1361,9/22/2028,2028,China,Quingdao,4873.35,3898.68,1.0,Bereich-3,prd-68,4-43652-1,C-124
1367,1368,9/29/2028,2028,China,Quingdao,4496.25,3597.00,NaN,Bereich-3,prd-68,4-43653-1,C-124